/**********************************************************
  Reset Default Properties Start
**********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* Now 1rem = 10px */
    overflow-x: hidden;
}


/**********************************************************
  Reset Default Properties End
**********************************************************/


/**********************************************************
  Variables Start
**********************************************************/
:root {

    /* Theme Colors */
    --black: #000;
    --white: #fff;
    --bodyColor: red;

}

/**********************************************************
  Variables End
**********************************************************/



/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--black)
}

/**********************************************************
  Wrapper End
**********************************************************/


/**********************************************************
  Main Table Start
**********************************************************/
#main-table {
    width: 70%;
    border-spacing: 3px;
    border: 2px solid var(--bodyColor);
}

#main-table td {
    padding: 2rem;
    border: 2px solid var(--bodyColor);
    color: var(--bodyColor);
    text-align: center;
    font-family: var(--font-family-1);
    font-size: 1.5rem;
    cursor: pointer;
}

#main-table td:hover {
    color: var(--white);
}

/**********************************************************
  Main Table End
**********************************************************/